clip==1.0
einops==0.8.1
invisible_watermark==0.2.0
kornia==0.8.0
lightning_utilities==0.9.0
numpy==2.3.1
omegaconf==2.3.0
open_clip_torch==2.24.0
opencv_python==4.8.1.78
opencv_python_headless==4.9.0.80
Pillow==10.0.0
Pillow==11.3.0
pyrallis==0.3.1
pytorch_lightning==2.0.7
salesforce_lavis==1.0.2
torch==2.6.0+cu126
torchvision==0.21.0+cu126
tqdm==4.66.2
transformers==4.50.3
xformers==0.0.31
